<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div formGroupName="userData">
          <div class="mb-3">
            <label for="username">username</label>
            <input
              type="text"
              id="username"
              formControlName="username"
              class="form-control"
            />
            <span
              *ngIf="
                !signupForm.get('userData.username')?.valid &&
                signupForm.get('userData.username')?.touched
              "
            >
              Please enter a valid username
            </span>
          </div>
          <div class="mb-3">
            <label for="email">email</label>
            <input
              type="text"
              id="email"
              formControlName="email"
              class="form-control"
            />
            <span
              *ngIf="
                !signupForm.get('userData.email')?.valid &&
                signupForm.get('userData.email')?.touched
              "
            >
              Please enter a valid email
            </span>
          </div>
        </div>
        <div class="mb-3">
          <div *ngFor="let gender of genders">
            <label>
              <input type="radio" [value]="gender" formControlName="gender" />
              {{ gender }}
            </label>
          </div>
        </div>
        <div *ngIf="!signupForm.valid && signupForm.touched">
          Please enter a valid data
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
